body{
    margin: 0 auto;
    padding: 0;
    font-family: "Ubuntu";
    min-height: 100%;
    height: 100%;
}

.page{
    padding: 0;  
    min-width: 1366px;  
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

button{
    cursor: pointer;
    font-family: "Ubuntu";
}

img{
    user-select: none; /* Современные браузеры */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input, textarea{
    font-family: "Ubuntu";
}

input[type="text"]:focus, input[type="tel"]:focus, input[type="email"]:focus, textarea:focus{
    outline: none; 
    box-shadow: inset 0 0 0 2px #0DD1A2;
}

.disabled-element{
    pointer-events: none;          
    cursor: default;   
    text-decoration: none; 
} 

h2{
    margin: 0; 
    padding-top: 76px;
    white-space: nowrap;
    font-size: 44px;
    color:#FFFFFF;
    font-weight: 500;
    text-decoration: underline 3px solid #0DD1A2;
    text-underline-offset: 14px;
    text-wrap: wrap;
}

h4{
    font-size: 21px;
    color:#FFFFFF;
    font-weight: 700;
}

.bg-1{
    background-image: url("../img/kid_VR.png"), url("../img/bg.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom, 0 0;
    background-size: auto,cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

.bg-2{
    background: url("../img/Rectangle.jpg") no-repeat top;
    background-size: cover;
    display: flex;
    justify-content: center; 
    background-attachment: fixed;
}

.main-page {
    margin: 0;
    padding: 0;
    padding-top: 74px;
    width: fit-content;
    min-width: 1366px;
}

.container{
    margin: 0;
    padding: 0;
    width: fit-content;
    position: relative;
}

.part{
    box-sizing: border-box;
    min-height: 730px;
}

.underline{
    display:none;
}

/*header*/
header {
    padding: 0 64px;
    padding-top: 43px;
    display: flex;
    align-items: center;
    justify-self: center;
    height: 72px;
    position: fixed;
    z-index: 3;
    margin: 0 auto; 
    left: 0;
    right: 0;
    box-sizing: border-box;
    background-attachment: fixed;
}

.logo {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 29px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.04em;
    font-size: 18px;
    color: #FFFFFF;
    white-space: nowrap;
}

.logo img{
    margin-right: 15px;
}

.logohover{
    display:none
}

.logo:hover{
    color: #0DD1A2;
}

.page-list {
    margin: 0;
    margin-left: 5.85vw;
    padding: 0;
    display: flex;
    list-style: none;
    color: #B0ACAC;
}

.page-title {
    display: flex;
    margin-right: 1.17vw;
}

.page-title:nth-child(1){
    margin-right: 1.24vw;
}

.page-title:last-child{
    margin-right: 0;
}

.page-title::after {
    content: "•";
    margin-left: 1.17vw;
}

.page-title:last-child::after{
    display: none;
}

.page-title-button{
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    white-space: nowrap;
}

.page-title-button:hover{
    color:#0DD1A2;
}

.page-title-button.active {
    color:#0DD1A2;
}

.active-title{
    color:#0DD1A2;
}

.header-order {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 7.83vw;
    max-width: 107px;
    height: 34px;
    margin: 0;
    margin-left: 6.66vw;
    border: 2px solid #0DD1A2;
    background: none;
    border-radius: 2%; 
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.header-order:hover{
    background-color: #0DD1A2;
}

.telephone {
    margin-left: 1.46vw;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    white-space: nowrap;
}

.menu {
    display:none;
}

/*footer*/
footer{
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
}

.scroll{
    margin: 0 auto;
    padding: 0;
    background: none;  
    border: none;
    display: flex;
    width: 15px;
    height: 7px;
}

.scroll-img{
    margin: 0;
    padding: 0;
    opacity: 0.64;
}

.scroll-img:hover{
    opacity:1;
}

.order{
    width: 560px;
    height: 380px;
    background-color: #F3F3F3;
    border-radius: 3%;
    position: fixed;
    display: none;
    z-index: 1;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.close-button{
    margin: 0;
    margin-left: 512px;
    padding: 17px;
    width: 48px;
    height: 48px;
    border: none;
    background: none;
}

.order h4{
    color: black;
    margin: 0;
    margin-left: 148px;
    margin-top: 12px;
}

.order p{
    opacity: 0.64;
    font-weight: 300;
    font-size: 15px;
    line-height: 130%;
    margin: 0;
    margin-left: 81px;
    margin-top: 13px;
    width: 400px;
    text-align: center;
}

.container-order{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.order-input{
    box-sizing: border-box;
    width: 400px;
    height: 46px;
    border: none;
    background-color: #FFFFFF;
    margin: 0;
}

.order-input-name{
    margin-top: 20px;
    margin-left: 81px;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 14px;
    padding-left: 21.43px;
    padding-right: 21.43px;
}

.order-input-tel{
    margin-top: 9px;
    margin-left: 81px;
    padding-top: 15px;
    padding-bottom: 14px;
    padding-left: 21.43px;
    padding-right: 21.43px;
}

.submit-order{
    margin: 0;
    margin-top: 30px;
    margin-left: 217px;
    width: 125px;
    height: 34px;
    border: 2px solid #0DD1A2;
    background: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    opacity: 0.4;
    border-radius: 2%;
}

.submit-order:hover{
    background-color: #0DD1A2;
    opacity: 1;
}

.success{    
    margin: 0;
    padding: 0;
    width: 560px;
    height: 338px;
    background-color: #F3F3F3;
    border-radius: 3%;
    position: fixed;
    display: none;
    z-index: 1;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.container-success{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.success-img{
    margin: 0;
    padding: 0;
    margin-top: 12px;
    margin-left: 250px;
}

.success h4{
    color: black;
    margin: 0;
    margin-left: 105px;
    margin-top: 20px;
}

.success p{    
    opacity: 0.64;
    font-weight: 300;
    font-size: 15px;
    line-height: 130%;
    margin: 0;
    margin-left: 80px;
    margin-top: 10px;
    width: 400px;
    text-align: center;
}

.success-ok{
    margin: 0;
    margin-top: 30px;
    margin-left: 233px;
    width: 96px;
    height: 34px;
    border: 2px solid #0DD1A2;
    background: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    border-radius: 2%;
    opacity: 0.4;
}

.success-ok:hover{
    background-color: #0DD1A2;
    opacity: 1;
}

.video{
    margin: 0;
    padding: 0;
    padding-bottom: 23px;
    border-radius: 3%;
    background-color: #F3F3F3;
    height: 480px;
    width: 816px;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}


.video-close-button{
    margin: 0;
    margin-left: 768px;
    padding: 17px;
    width: 48px;
    height: 48px;
    border: none;
    background: none;
}

.mobile-menu{
    display: none;
}

/*main-page*/
/*main*/
.main-main-page {
    margin-left: 120px;
}

h1 {
    margin: 0;
    margin-top: 153px;
    font-size: 96px;
    font-weight: normal;
    color: #FFFFFF;
    white-space: nowrap;
}

.main-description {
    margin: 0;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 150%;
    font-weight: 300;
    margin-top: 24px;  
    width: 494px;
}

.main-buttons {
    display: flex;
}

.main-button {
    margin-top: 71px;
    padding: 17px 38px;
    border: 2px solid #15B28D;
    border-radius: 2%; 
    display: flex;
    align-items: center;
}

.main-button-text {
    margin-left: 11px;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-button-order{
    background-color: #15B28D;
    width: 238px;
    height: 68px;
}

.main-button-order:hover{
    background-color: #0DD1A2;
    border-color: #0DD1A2;
}

.main-button-video{
    margin-left: 24px;
    background: none;
    width: 201px;
    height: 68px;
}

.main-button-video:hover{
    background-color: #0DD1A2;
    border-color: #0DD1A2;
}

/*footer*/

.main-page-footer{
    margin-top: 154px;
}

.social-networks{
    margin: 0;
    margin-left: 63px;
    padding: 0;
    width: 76px;
    display: flex;
}

.facebook{
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    opacity: 0.64;
}

.facebook:hover{
    opacity: 1;
}

.facebook img{
    margin-top: 4px;
    margin-left: 10px;
}

.vk{
    margin-left: 12px;
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    opacity: 0.64;
}

.vk img{
    margin-top: 9px;
    margin-left: 2px;
}

.vk:hover{
    opacity: 1;
}

.main-page-scroll{
    margin: 0 auto;
    margin-top: -30px;
    padding: 0;
    background: none;  
    border: none;
    display: grid;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF; 
    line-height: 137.9%;
    letter-spacing: 0.12em;
    width: 288px;
    height: 28px;
    opacity: 0.64;
}

.main-page-scroll p{
    margin: 0;
}

.main-page-scroll img{
    margin: 0 auto;
    margin-top: 5px;
}

.main-page-scroll:hover{
    opacity: 1;
}

/*about*/
.about{
    padding-top: 74px;
}

.about-flex{
    display: flex;
}

.about-description{
    margin-top: 57px;
    margin-left: 30px;
    width: 440px;
    color:#FFFFFF;
    font-weight: 300;
    font-size: 17px;
    line-height: 150%;
}

.about-gallery{
    margin-left: 136px;
    margin-top: 169px;  
    display: flex;  
}

.about-gallery::after{
    content: "Что показываем в планетарии";
    font-size: 24px;
    color:#FFFFFF;
    font-weight: 500; 
    margin-top: 229px;
    margin-left: -721.82px;
    width: 192px;
    text-align: right;
    z-index: 2;
}

.gallery{
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1;
}

.gallery-image img{
    height: 300px;
    width: 561.82px;  
    display: block;
    object-fit: cover;
}

.gallery-hidden{
    display: none;
}

.gallery-shown{
    display: block;
}

.gallery::before{
    content: "";
    margin-left: 12.872px;
    margin-top: -15px;
    display: block;
    box-sizing: border-box;
    width: 564.13px; 
    height: 280.38px;
    background: none;
    border: 4px solid #0DD1A2;
    position: absolute;
    z-index: -1;
}

.switch-buttons{  
    margin-left: 496px;
    display: flex;
    justify-content: end;
    height: 48px;
    width: 202px;
}

.switch{
    background-color: black;
    border: none;
    width: 60px;
    height: 48px;
}

.switchbackreg{
    display: block;
    justify-self: center;
    transform: rotate(180deg);
}

.switchbackhover{
    display: none;
    justify-self: center;
    transform: rotate(180deg);
}

.switchforwardreg{
    display: block;
    justify-self: center;
}

.switchforwardhover{
    display: none;
    justify-self: center;
}

.switch-count{
    font-size: 18px;
    color:#FFFFFF;
    align-self: center;
    user-select: none; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.switch-count::before{
    content:' ';
    font-size: 18px;
}

.switch-count::after{
    margin-right: 21px;
    font-size: 18px;
    color:#ABABAB;
    align-self: center;
}

.switch-count-gallery::after{
    content:' 06';
}

.about-footer{
    margin-top: 13px;
}

/*how*/
.how{
    padding-top: 74px;
}

.how-sequence{
    margin-left: 30px;
    margin-top: 55px;
    padding: 0;
    display: grid;
    grid-template-columns: 535px 535px;
    list-style: none;
}

.how-action{
    display: flex;
}

.how-action-2{
    margin-top: 17px;
    margin-left: 58px;
}

.how-action-3{
    margin-top: 60px;
    margin-left: 22px;
}

.how-action-4{
    margin-top: 77px;
    margin-left: 100px;
}

.action-photo{
    display: flex;
    width: 215px;
}

.action-photo::after{
    content: "";
    display: block;
    box-sizing: border-box;
    width: 195px;
    height: 130px;
    margin-left: -183px;
    border:2px solid #0DD1A2;
    background: none;
    z-index: 1;
}

.action-img{
    margin-top: 12px;
    margin-left: -32px;
    display: block;
    width: 195px;
    height: 130px;
    object-fit: cover;
    z-index: 2;
}

.action-number{
    display: flex;
    margin-top: 110px;
    background: white;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    z-index: 3;
}

.action-number::after{
    font-size: 28px;
    font-weight: bold;
    color: #0DD1A2;
}

.action-number-1::after{
    content:'1'
}

.action-number-2::after{
    content:'2'
}

.action-number-3::after{
    content:'3'
}

.action-number-4::after{
    content:'4'
}

.action-caption{
    margin-top: 10px;
    margin-left: 20px;
}

.action-title{
    margin: 0;
    display: block;
    width: 120px;
}

.action-caption-text{
    margin: 0;
    margin-top: 10px;
    display: block;
    width: 300px;
    color: white;
    font-size: 15px;
    line-height: 130%;
    font-weight: 300;
}

.path-1{
    margin-left: 368px;
    padding-block-start: 198.844px;
    position: absolute
}

.path-2{
    margin-left: 149.5px;
    padding-block-start: 357px;
    position: absolute
}

.path-3{
    margin-left: 399px; 
    padding-block-start: 457px;
    position: absolute
}

.how-buttons{
    display: none;
}

.how-footer{
    margin-top: 46px;
}

/*tech*/
.tech{
    padding-top: 74px;
}

.tech-description{
    margin-top: 79px;
    margin-left: 28px;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 280px 280px;
    gap: 0px 554px;
    height: fit-content;
}

.tech-description-piece{
    display: block;
}

.tech-description-piece h4{
    line-height: 132.1%;
    margin: 0;
}

.tech-description-piece p{
    color:#FFFFFF;
    font-size: 15px;
    line-height: 130%;
    font-weight: 300;
}

.tech-description-piece-1 p{
    margin-top: 10px;
}

.tech-description-piece-2 p{
    margin-top: 13px;
    height: 194px;
}

.tech-description-piece-3 p{
    margin-top: 10px;
}

.tech-description-piece-4 p{
    margin-top: 10px;
}

.tech-description-piece-1{
    height: 155px;
}

.tech-description-piece-2{
    height: 194px;
}

.tech-description-piece-3{
    margin-top: 41px;
    height: 155px;
}

.tech-description-piece-4{
    margin-top: 60px;
    height: 136px;
}

.tech-footer{
    margin-top: 61px;
}

.ellipse{
    display:flex;
    margin-left: 353px;
    padding-block-start: 195px;
    position: absolute;
}

.VR-glasses{
    margin-top: 104.5px;
    position: absolute;
    margin-left: 11px;
}

.dot-on-glasses{
    display: none;
}

.magnifier{
    width: 85px;
    height: 85px;
    margin-left:-118.777px;
    margin-top: 303px;
    background-color: #15B28D;
    border-radius: 100%;
    border: none
}

.magnifier img{
    margin-left: 7px;
    margin-top: 5px;
}

.magnifier:hover{
    background-color: #0DD1A2;
}

.ring{
    margin-left: 317.113px;
    padding-block-start: 159.113px;
    position: absolute
}

.arrow-1{
    margin-left: 239px;
    padding-block-start: 219px;
    position: absolute
}

.arrow-2{
    margin-left: 605px;
    padding-block-start: 219.5px;
    position: absolute
}

.arrow-3{
    margin-left: 195px;
    padding-block-start: 374px;
    position: absolute
}

.arrow-4{
    margin-left: 727px;
    padding-block-start: 385px;
    position: absolute
}

.tech-buttons{
    display: none
}

/*QA*/
.QA{
    background-image: url("../img/boy.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-top: 74px;
}

.questions{
    padding: 0;
    margin-top: 40px;
    margin-left: 1px;
    width: 904px;
    list-style: none;
}

.question{
    margin: 0;
    margin-top: 5px;
    background-color: #FFFFFF;
}

.question-bar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    list-style: none;
    width: 100%;
}

.question:nth-child(1){
    margin-top: 0;
}

.question-bar-content::before{
    content:"•";
    margin-left: 20px;
    color: #0DD1A2;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
}

h5{
    margin-left: 45px;
    opacity: 0.8;
    font-size: 21px;
    font-weight: 500;
    line-height: 132.1%;
}

.plus-pic{
    padding: 0;
    background-color: #15B28D;
    width: 72px;
    height: -webkit-fill-available;
    border: none;
    color:#FFFFFF;
    display: flex;
    justify-content: center;
}

.plus-pic::after{
    content:"+";
    margin: 0;
    font-size: 48px;
    line-height: 132.1%;
    font-weight: 300;
}

.question[open] .plus-pic::after{
    transform: rotate(45deg);
}

.plus-pic:hover{
    background-color: #0DD1A2;
}

.answer{
    margin: 0;
    padding-left: 50px;
    margin-top: -3px;
    padding-bottom: 29px; 
    font-size: 15px;
    font-weight: 300;
    line-height: 150%;
    width: 640px;
}

.QA-footer{
    margin-top: 187px;
}

/*contacts*/
.contacts{
    padding-top: 74px;
}

.contacts-article{
    margin-top: 58px;
    margin-left: 30px;
    display: flex;
}

.cities{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 240px;
}

.cities h4{
    margin: 0;
}

.cities a{
    text-decoration: none;
    line-height: 130%;
    font-size: 15;
    font-weight: 300;
    color: white;
}

.cities a:hover{
    text-decoration: underline;
    line-height: 130%;
    font-size: 15;
    font-weight: 300;
    color: white;
}

.city-telephone{
    display: block;
    margin-top: 13px;
}

.city-email{
    display: block;
    margin-top: 5px;
}

.city{
    margin-top: 30px;
}

.city:nth-child(1){
    margin-top: 0;
}

.more-questions{
    margin-left: 60px;
}

.more-questions h4{
    margin: 0;
}

.more-questions p{
    margin: 0;
    margin-top: 13px;
    line-height: 130%;
    font-size: 15px;
    font-weight: 300;
    color: white;
}

.more-questions-top{
    display: flex;
}

.input-name{
    display: block;
    margin-top: 12px;
    padding-top: 15px;
    padding-bottom: 14px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    width: 280px;
    height: 46px;
    box-sizing: border-box;
}

.input-email{
    display: block;
    margin-top: 12px;
    margin-left: 10px;
    padding-top: 15px;
    padding-bottom: 14px;
    padding-left: 15px;
    padding-right: 15px;
    width: 280px;
    height: 46px;
    border: none;
    box-sizing: border-box;
}

.input-text{
    display: block;
    border: none;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 112px;
    padding-left: 15px;
    padding-right: 15px;
    width: 570px;
    height: 144px;
    box-sizing: border-box;
    white-space: pre-wrap; 
    overflow: auto;
    overflow-wrap: break-word;
    resize: none;
}

.submit-question{
    cursor: pointer;
    margin-top: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 2px solid #0DD1A2;
    border-radius: 2%;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color:#FFFFFF;
    width: 120px;
    height: 34px;
}

.submit-question:hover{
    background:#0DD1A2
}

.contacts-footer{
    margin-left: -13px;
    margin-top: 131px;
    display: flex;
    color:#FFFFFF;
}

.contacts-footer p{
    font-size: 13px;
    line-height: 130%;
    font-weight: 300;
    margin-top: 4px;
    white-space: nowrap;
    opacity: 0.64;
}

.copyrite{
    margin-left: 325px;
}

.social-networks-end{
    width:57px;
    margin-left: 421px;
    display: flex;
}

.facebook-end{
    padding-top: 3px;
    padding-left: 7.5px;
    width: 24px;
    opacity: 0.64;
}

.facebook-end img{
    display: block;
}

.facebook-end:hover{
    opacity: 1;
}

.vk-end{
    margin-left: 9px;
    padding-top: 7px;
    padding-left: 1.5px;
    width: 24px; 
    opacity: 0.64;   
}

.vk-end img{
    display: block;
}

.vk-end:hover{
    opacity: 1;
}

@media(max-width: 768px){

    .page{
        min-width: 0;
    }

    .bg-1{
        background-image: url("../img/bg1.jpg");
        background-repeat: no-repeat;
        background-position:  center center;
        background-size: 250% 100%;
        padding: 0 16px;
    }

    .bg-2{
        padding: 0 16px;
        background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%, #1C1C1C 12%),
        url("../img/2700.jpg") no-repeat top center;
        background-size: auto, 150% 12%;
        background-position: center top;
        background-attachment:scroll;
    }

    .part{
        padding: 0;
        min-height: 0;
        height:auto;
    }
    
    .order{
        padding: 0;
        width: 100svw;
        height: 100svh;
        background-color: #F3F3F3;
        border-radius: 0;
        top: 0; 
        left: 0; 
        transform:none;
        flex-direction: column;
    }

    .success{    
        padding: 0;
        width: 100vw;
        height: 100vh;
        background-color: #F3F3F3;
        border-radius: 0;
        top: 0; 
        left: 0; 
        transform:none;
        flex-direction: column;
    }

    .video{
        padding: 0;
        width: 100vw;
        height: 100vh;
        background-color: #F3F3F3;
        border-radius: 0;
        top: 0; 
        left: 0; 
        transform:none;
        align-items:start;
        justify-content: start;
    }

    .close-button{
        margin: 0;
        margin-left: 87%;
        margin-top: 26px;
        padding: 0;
        width: 20px;
        height: 20px;
        border: none;
        background: none;
    }

    .close-button img{
        width: 100%;
        height: 100%;
    }

    .order h4{
        width: fit-content;
        margin: 0 auto;
    }

    .order p{
        width: fit-content;
        max-width: 90%;
        margin: 0 auto;
        margin-top: 13px;
    }

    .order-form{
        width: 90%;
        margin: 0 auto;
    }

    .order-input{
        display: block;
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto;
    }

    .order-input-name{
        margin-top: 20px;
    }

    .order-input-tel{
        margin-top: 10px;
    }

    .submit-order{
        display: block;
        margin: 0 auto;
        margin-top: 30px;
    }

    .success-img{
        display: block;
        margin: 0 auto;
    }

    .success h4{
        width: fit-content;
        margin: 0 auto;
        margin-top: 20px;
    }

    .success p{
        width: fit-content;
        margin: 0 auto;
        margin-top: 10px;
    }

    .success-ok{
        display: block;
        margin: 0 auto;
        margin-top: 30px;
    }

    .video-close-button{
        margin: 0;
        margin-left: 87%;
        margin-top: 26px;
        padding: 0;
        width: 20px;
        height: 20px;
        border: none;
        background: none;
    }

    .video-close-button img{
        width: 100%;
        height: 100%;
    }

    .video video{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }

    .mobile-menu{
        position:absolute;
        flex-direction: column;
        background-color: #1C1C1C;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        top: 0; 
        left: 0; 
        z-index: 1;
    } 

    .menu-header{
        display: flex;
        padding-left: 20px;
        padding-right: 22px;
        padding-top: 20px;
        justify-content: space-between;
    }

    .menu-logo{
        margin-top: 2px;
    }

    .menu-close-button{
        margin: 0;
        margin-top: 6px;
        padding: 0;
        width: 20px;
        height: 20px;
        border: none;
        background: none;
    }
    
    .menu-close-button img{
        width: 100%;
        height: 100%;
        filter: invert(1);
    }

    .menu-page-list{
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 6.5vh;
        margin-left: 24px;
    }

    .page-title{
        margin: 0;
        width: fit-content;
    }

    .page-title-button{
        height: 9.3vh;
    }

    .menu-underline{
        margin-top: 8.8vh;
        opacity: 0.24;
        background: white;
        height: 1px;
        width: -webkit-fill-available;
        border:none;
    }

    .menu-telephone{
        display: block;
        margin-top: auto;
        margin-left: 24px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        color: #FFFFFF;
        white-space: nowrap;
    }

    .menu-social-networks{
        margin-top: 3.5vh;
        margin-bottom: 3.5vh;
        display: flex;
        margin-left: 16px;
    }

    .main-page{
        padding-top: 56px;
        min-width: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .container{
        min-width: 0;
        height: auto;
    }

    .underline{
        display: block;
        border: none; 
        background:#0DD1A2;
        margin: 0;
        margin-top: 10px;
        margin-left: 1px;
        margin-right: 1px;
        padding: 0;
        height: 3px;
        order: 2;
    }

    header{
        padding: 0 20px;
        padding-top: 20px;
        justify-content:space-between;
        height: 56px;
        min-width: 0;
        width: 100%;
    }

    .page-list{
        display: none;
    }

    .telephone{
        display: none;
    }

    .logo{
        margin: 0;
        margin-top: 2px;
    }


    .logo p{
        display: none;
    }

    .header-order{
        margin:0;
        width: 107px;
    }

    .menu{
        display: block;
        background: none;
        border: none;
        margin-top: 9px;
    }

    .main-main-page{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1{
        margin: 0;
        margin-top: 15.8vh;
        padding: 0;
        font-size: 36px;
    }

    h2{
        font-size: 28px;
        text-decoration: none
    }

    h3{
        font-size: 18px;
    }

    .main-description{
        font-size: 15px;
        line-height: 137.9%;
        margin-top: 24px;   
        width: fit-content;
        text-align: center;
    }

    .main-buttons{
        flex-direction: column;
    }

    .main-button {
        margin-top: 8.8vh;
        padding: 15px 35px;
        border: 3px solid #15B28D;
    }

    .main-button-text {
        margin-left: 12px;
        color: #FFFFFF;
        font-size: 18px;
    }

    .main-button-order{
        width: 207px;
        height: 55px;
    }

    .main-button-video{
        margin: 0;
        margin-top:16px;
        padding-left:47px;
        width: 207px;
        height: 55px;
    }

    .main-page-footer{
        margin-top: auto;
        padding-bottom: 3.5vh;
        display: flex;
        justify-content: center;
    }


    .main-page-scroll{
        margin: 0;
    }

    .social-networks{
        display: none;
    }

    .about-title{
        padding-top: 7.75rem;
    }

    .about-flex{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .about-description{
        margin: 0;
        margin-top: 3.5rem;
        font-size: 1.0625rem;
        width: auto;
    }

    .about-gallery{
        margin: 0;
        flex-direction:column-reverse;
    }
    
    .about-gallery::after{
        margin-top: 50px;
        margin-left: 0;
        text-align: left;
        width: auto
    }
    
    .gallery{
        margin: 0;
        margin-top: 10px;
        min-width: 0;
    }

    .gallery-image img{
        margin: 0;
        padding: 0;
        width: 100%;  
        height: auto;
        min-width: 0;
        aspect-ratio: 561.82 / 300;
        object-fit: cover;
    }
    
    .gallery::before{
        display: none;
    }

    .switch-buttons{
        margin: 0;
        margin-left: auto;
    }

    .about-footer{
        display: none;
    }

    .how{
        padding: 0;
    }

    .path-1{
        display: none;
    }

    .path-2{
        display: none;
    }
    
    .path-3{
        display: none;
    }

    .how-hidden{
        display: none;
    }

    .how-shown{
        display: flex;
    }

    .how-action{
        margin: 0;
        height: auto;
    }

    .how-buttons{
        display: flex;
        margin-top: 20px;
    }

    .how-switch-count::after{
        content:' 04'
    }

    .how-footer{
        display: none;
    }

    .how-title{
        margin: 0;
        padding: 0;
        padding-top: 90px;
        text-align: left;
        width: auto
    }

    .how-sequence{
        margin: 0 11px;
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    .how-action{
        flex-direction: column;
    }

    .action-photo{
        margin: 0 20px;
        margin-top: 56px;
        width: fit-content;
        height: auto;
    }

    .action-photo::after{
        margin-left: -85%;
        margin-bottom: 6%;
        width: 100%;
        max-width: 90.7%;
        height: auto;
    }

    .action-number{
        margin-top: auto;
        margin-bottom: -3%;
    }

    .action-img{
        width: 100%;
        max-width: 90.7%;
        margin-left: -8%;
        height: auto;
        aspect-ratio: 195 / 130;
    }


    .action-caption{
        margin: 0;
        margin-top: 22px;
    }

    .action-caption-text{
        width: auto;
    }
    
    .tech{
        padding: 0;
    }

    .tech-main{
        display: flex;
        flex-direction: column;
    }

    .tech-title{
        order: 1;
        padding-top: 90px;
    }

    .tech-footer{
        display: none;
    }
    
    .ellipse{
        position: relative;
        margin: 0 auto;
        margin-top: 61px;
        padding: 0;
        order: 3;
        min-width: 0;
    }

    .ellipse-pic{
        width: 100%;
        height: 100%;
    }

    .VR-glasses{
        width: 100%;
        height: auto;
        min-width: 0;
        aspect-ratio: 417 / 214;
        margin-top: 25.7%;
        margin-left: 2.4%;
    }

    .dot-on-glasses{
        display: block;
        position: absolute;
    }

    .dotVR-1{
        margin-left: 10%;
        margin-top: 29.5%;
    }
    
    .dotVR-2{
        margin-left: 57%;
        margin-top: 37.5%;
    }
    
    .dotVR-3{
        margin-left: 58.3%;
        margin-top: 25.7%;
    }
    
    .dotVR-4{
        margin-left: 89.2%;
        margin-top: 45.8%;
    }
        
    .magnifier{
        display: none;
    }
    
    .ring{
        display: none;
    }
    
    .arrow-1{
        display: none;
    }
    
    .arrow-2{
        display: none;
    }
    
    .arrow-3{
        display: none;
    }
    
    .arrow-4{
        display: none;
    }

    .tech-description-piece-2{
        margin: 0;
    }

    .tech-description-piece-3{
        margin: 0;
    }

    .tech-description-piece-4{
        margin: 0;
    }

    .tech-description-piece-shown{
        display: block;
    }

    .tech-description-piece-hidden{
        display: none;
    }

    .tech-buttons{
        display: flex;
        order: 5;
        margin-top: 20px;
    }

    .tech-switch-count::after{
        content: ' 04';
    }

    .tech-description{
        display: block;
        order: 4;
        margin: 0;
        margin-top: 30px;
    }
    
    .QA{
        background-image: none;
        padding: 0;
    }

    .QA-title{
        padding-top: 90px
    }

    .questions{
        margin: 0;
        margin-left: -8px;
        margin-right: -8px;
        margin-top: 41px;
        width: auto;
    }

    .question-bar-content{
        margin: 0;
        width: 100%;
        height: auto;
        flex: 256px 32px;
    }

    .question-bar-content::before{
        display: none;
    }
    
    .plus-pic{
        min-width: 32px;
        max-width: 32px;
        align-items: center;
    }

    .plus-pic::after{
        font-size: 24px;
        height:fit-content;
    }

    .answer{
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 30px; 
        width: auto;
    }

    .question[open] .plus-pic::after{
        margin-left: 3px;
    }

    h5{
        font-size: 17px;
        padding-top: 10px;
        margin: 5px 10px;
        padding-bottom: 10px;
        height: auto;
    }

    .QA-footer{
        display: none;
    }

    .contacts{
        padding: 0;
    }

    .contacts-title{
        padding-top: 90px;
    }

    .contacts-article{
        margin: 0;
        margin-top: 43px;
        flex-direction: column;
    }

    .more-questions{
        margin: 0;
        margin-top: 50px;
    }

    .more-questions-top{
        flex-direction: column;
        width: 100%;
    }

    .input-name{
        width: 97.2%;
        margin-top: 10px;
    }

    .input-email{
        width: 97.2%;
        margin-left: 0;
        margin-top: 10px;
    }

    .input-text{
        width: 97.2%;
    }

    .contacts-footer{
        margin-top: 80px;
        margin-left: 0;
        flex-direction: column;
    }

    .contacts-footer p{
        margin: 0;
        text-wrap: wrap
    }

    .copyrite{
        margin-left: 0;
        margin-top: 5px;
    }

    .social-networks-end{
        margin-left: -4px;
        margin-top: 20px;
    }
}